<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<client>
			<endpoint address="net.tcp://localhost:8009/GeoService" binding="netTcpBinding" contract="GeoLib.Contracts.IGeoService"/>
			<endpoint address="net.tcp://localhost:8009/GeoServiceAdmin" binding="netTcpBinding" contract="GeoLib.Contracts.IGeoAdminService" bindingConfiguration="admin"/>
		</client>
		<bindings>
			<netTcpBinding>
				<binding transactionFlow="true" sendTimeout="00:20:00" maxReceivedMessageSize="2000000">
					<security mode="None">

					</security>
				</binding>
				<binding name="admin" transactionFlow="true" sendTimeout="00:20:00" >
					<security mode="Transport">
						<transport clientCredentialType="Windows" protectionLevel="Sign"></transport>
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>